:root {
  --primary: #1D4ED8;
  --primary-light: #3B82F6;
  --highlight: #2563EB;
  --bg-dark: #0A1121;
  --bg-dashboard: #020617;
  --card-blue: #3B82F6;
  --text-main: #fff;
  --font-main: 'Unbounded', sans-serif;
} 